$blue:    #83a598;
$indigo:  #6610f2;
$purple:  #b16286;
$pink:    #d63384;
$red:     #cc241d;
$orange:  #d65d0e;
$yellow:  #fabd2f;
$green:   #8EC07C;
$teal:    #20c997;
$cyan:    #0dcaf0;

$white:    #fbf1c7;
$gray-100: #e1d8b3;
$gray-200: #c8c09f;
$gray-300: #afa88b;
$gray-400: #969077;
$gray-500: #7d7863;
$gray-600: #64604f;
$gray-700: #4b483b;
$gray-800: #323027;
$gray-900: #191813;
$black:    #282828;

@import "../node_modules/bootstrap/scss/bootstrap";
